<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<test name="Test">
		<parameter name="imageEnabled" value="2" />
		<parameter name="url" value="http://hh.ru/price" />
		<parameter name="userName" value="************" />
		<parameter name="password" value="************" />
		<parameter name="remember" value="on" />
		<groups>
			<run>
				<include name="test_Login" />
			</run>
		</groups>
		<classes>
			<class name="org.hh.test.TestRunner" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
