<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--suite name="Suite" parallel="none">
	<test name="Test">
		<parameter name="sImageEnable" value="2" />
		<parameter name="sUrl" value="http://hh.ru/price" />
		<parameter name="sParam1" value="...." />
		<groups>
			<run>
				<include name="AutoTest_12" />
			</run>
		</groups>
		<classes>
			<class name="org.hh.test.TestRunner" />
		</classes>
	</test> 
</suite--> 
